extends layout

block content
  h1= title
  :markdown
   ### inspiration
    *  [cmx.io](cmx.io)
    *  [Nancy](http://arthur-ransome.wikia.com/wiki/Semaphore)

   ### what is semaphore ?
    * a [technique](http://www.youtube.com/watch?v=B8plGq2qBXE) to deliver messages to longer instances (something like twitter, without the limit )

   ### links
    * (1)[http://firstapp-semaphore.ph/#5161288d54857b3115000001]
    * (2)[http://firstapp-semaphore.ph/#5161293654857b311500000c]
    * (3)[http://firstapp-semaphore.ph/#51612a61e771c9cb1e000001]
