extends layout

block content
  h1= title
  | <input id="mess" value="swallows forever"></input><button id="sendmess">send to server</button><br />
  | <div id="notif"></div>
  | <div id="putithere"></div>
