extends layout

block content
  h1= title
  p(class='centered') Send messages in style,
    a(href='http://arthur-ransome.wikia.com/wiki/Semaphore') sailors style .
  div(id='teaser', class='centered')
  div(class='centered')
   input(id='mess',value='swallows forever')
   button(id='sendmess') show


  div(id='notif', class='centered')
  div(id='putithere', class='centered')
