extends layout

block content
  h1= title
  :markdown
   Send messages in style,  [sailors style](http://arthur-ransome.wikia.com/wiki/Semaphore).
  div(id='teaser')
  input(id='mess',value='swallows forever')
  button(id='sendmess') send to server


  div(id='notif')
  div(id='putithere')
