doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/cmx.css')
    script(type='text/javascript', src='javascripts/cmx.js')
    script(type='text/javascript', src='javascripts/sem.js')
  body
    | <a href="https://github.com/mojzis/semaphore"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png" alt="Fork me on GitHub"></a>
    block content
  br(clear='all')
  :markdown
   ### Thanks for:
   *  the wonderful [hackathon](http://plzenskyhackathon.cz) in Pilsen
   *  [apiary.io](http://apiary.io/)
   *  [Comix I/O](http://cmx.io/)
   *  [Swallows](http://arthur-ransome.wikia.com/wiki/Swallows) and Amazons
   *  the work of the team : [@bkai](https://github.com/bkai), [Anton](http://linkedin.com/pub/anton-dekterov/63/a58/342) and @mojzis

