doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/cmx.css')
    script(type='text/javascript', src='javascripts/cmx.js')
    script(type='text/javascript', src='javascripts/sem.js')
  body
    block content
  :markdown
   ### Thanks for:
   *  the wonderful [hackathon](http://plzenskyhackathon.cz) in Pilsen
   *  [apiary.io](http://apiary.io/)
   *  [Comix I/O](http://cmx.io/)
   *  [Swallows](http://arthur-ransome.wikia.com/wiki/Swallows) and Amazons

